<%= render 'partials/navigation' %>
<%= stylesheet_link_tag "public_list"%> 
<h1 id='shop-title'>Shooping list</h1>

<div class='amounts'>
    <h3>Amount of food items to buy: <%= @foods.count%></h3>
    
    <h3>Total Value of food needed: <%= @quantity%></h3>
</div>

<div class='shop-list'>
    <table>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
<% @foods.each do |food| %>
      <tr>
        <td><%= food.name%></td>
        <td><%= food.quantity%></td>
        <td>$<%= food.quantity * food.price%></td>
      </tr>
    
<% end %>
</table>
</div>








