<%= render 'partials/navigation' %>
<%= stylesheet_link_tag "recipes_index.css" %>


  <% if @recipes.empty? %>
    <p id="no-recipe">Hungry people are waiting for your delicious recipies! <br>...</p>
  <% end %>

  <% @recipes.each do |recipe| %>
  <section id="my-recipes">
  <h1>MY RECIPES</h1>
    <div class="card-container">
      <div class="recipe-card">
        <div class="recipe-intro">
        <h2><%= link_to recipe.name, user_recipe_path(id: recipe.id, user_id: recipe.user.id) %></h2>
        <if can? :manage, recipe %>
        <%= button_to "Delete recipe", user_recipe_path(recipe.user, recipe.id), method: :delete %>
        </div>
        <p class="description"><%= recipe.description %></p>
      </div>
    <% end %>
  </section>