<h1>Add a recipe</h1>

<%= form_with model: @recipe, url: user_recipes_path do |form| %>
<div>
  <%= form.label :name %> <br>
  <%= form.text_area :name %> <br>
  <%= form.label :preparation_time %> <br>
  <%= form.text_area :preparation_time%> <br>
  <%= form.label :cooking_time %> <br>
  <%= form.text_area :cooking_time %> <br>
  <%= form.label :description %> <br>
  <%= form.text_area :description %> <br>
  <%= form.label :public %> <br>

  <%= form.check_box :public %> <br>

  <%= form.submit %>
</div>
<% end %>


<%= form_with(url:  user_recipes_path, model: @recipe) do |form| %>
  <% if @recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :preparation_time, style: "display: block" %>
    <%= form.text_field :preparation_time %>
  </div>

  <div>
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.text_field :cooking_time %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>