
<%= render 'partials/navigation' %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 


<% if notice%>
  <h4 class='signin-alert'><%= notice%></h4>
<%end%>
<h1 id='title'>PUBLIC RECIPES</h1>
<section class='recip-list'>
<% @public_recipes.each do |recipe| %>
  <div class="card">
 
  <div class="container">
    <section>
      <h1><b><%= recipe.name%></b></h1> 
      <p><b>By:</b> <%= recipe.user.name %></p> 
    </section>

    <section>
      <p><b>Total Food Item:</b></p> 
      <p><b>Total Price:</b> </p> 
      
    </section>
  </div>
 
</div>
<% end %>
</section>






 
