<%= render 'partials/navigation' %>

<h1>RECIPES</h1>
<section class='recipes-list'>
<% @public_recipes.each do |item| %>
  <div class="card">
 
  <div class="container">
    <h4><b><%= item.name%></b></h4> 
    <p><b>Preparation time:</b> <%= item.preparation_time%></p> 
    <p><b>cooking time:</b>  <%= item.cooking_time%></p> 
  </div>
  <%= button_to 'Details' , "/recipes/show/#{item.id}", method: :post%>
</div>
<% end %>
</section>
</div>






 
