
<%= render 'partials/navigation' %>

<h1><%= @recipe.name%></>

<section id="recipe-details">
<div class="details-card">
<p>Preparation time: <%=@recipe.preparation_time %> </p>
<p>Cookin time: <%=@recipe.cooking_time %> </p>
<p>Description: <%=@recipe.description %> </p>
<%= link_to "Add ingredients",  new_user_recipe_recipe_food_path(recipe_id: @recipe) %>
<%= link_to "Generate Shopping List", "#"%>
</div>
<p>

</section>