<nav>
<%# logo of the recipe app %>
<div id="logo">
    <a class="nav-link" href="#">Recipe App</a>
</div>
<ul id="menu">

<% if user_signed_in? %>


      <li><%= link_to 'Food List' , user_foods_path(current_user.id)%></li>
      <li><%= link_to "My Recipes", "/recipes/index" %></li>
      <li><%= link_to "Public Recipes", "/recipes/public" %></li>
      <li><%= link_to "Shopping List", "/general_shopping_list" %></li>
      <li><%= link_to "Add food", new_user_food_path(current_user.id)  , method: :get %></li>
      <li><%= link_to "Add Recipe", new_user_recipe_path(user_id: current_user.id) %></li>
      
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", "users/sign_in" %></li>
      <li><%= link_to  "Sign up", "/users/sign_up" %></li>
    <% end %>

</ul>
</nav>