 <%= stylesheet_link_tag "login"%>

<section class='uniq'>
  <div class='login-content'>
  
    <div class='login-form'>
    <h2 class='login-title'>Welcome</h2>
    <% if alert %>
        <div class='login-alert'>
        <%= alert %>
        </div>
      <%end%> 
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" , class: 'data-info' , placeholder: 'Enter Your Email'%>
      </div>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" , class: 'data-info'  , placeholder: 'Enter Your Password'%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in"  , class: 'submit-btn'%>
      </div>
    <%end%>

    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      </div>
  </div>
</section>




