
<%= render 'partials/navigation' %>
<h1>Food page</h1>

<%= button_to 'Add New Food' , new_user_food_path  , method: :get %>

<section class='foods-list'>
<% @foods.each do |food| %>
  <div class="card">
  <div class="container">
    <h4><b><%= food.name%></b></h4> 
    <p><b>Price:</b> <%= food.price%></p> 
    <p><b>Quantity:</b> <%= food.quantity%><%= food.measurement_unit%></p> 
  </div>
</div>
<% end %>
</section>





  
