
<%= render 'partials/navigation' %>
<%= stylesheet_link_tag "food"%> 
<section class='form-content'>
    

<div class='food-form'>
<%=  form_with model: @food, url: user_foods_path, method: :post, local: true, class: "form-control" do |f| %>

    <h2>New Food</h2>
  <div class="form-field">
   <b> <%= f.label :Name %></b><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder: 'Enter Food Name..'%>
  </div>


  <div class="form-field">
    <b><%= f.label :Measurement_Unit %></b><br />
    <%= f.text_field :measurement_unit, autocomplete: "measurement_unit" , placeholder: 'Enter Food Measurement Unit.. '%>
  </div>

  <div class="form-field">
     <b><%= f.label :Price %></b><br />
    <%= f.number_field :price, autocomplete: "price"  , placeholder: 'Enter Food Price...'%>
  </div>

  <div class="form-field">
     <b><%= f.label :Quantity %></b><br />
    <%= f.number_field :quantity, autocomplete: "quantity"  , placeholder: 'Enter Food Quantity...' %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
</div>


</section>